<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
       
        <title> {% block title %}ADMINISTRACIÓN DE PROPIEDADES{% endblock %}</title>
        {% block stylesheets %}
        <meta name="description" content="AIK is a real-estate template">
        <meta name="author" content="Kimarotec">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/fontello.css">
        <link href="assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
        <link href="assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
        <link href="assets/css/animate.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="assets/css/bootstrap-select.min.css"> 
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/icheck.min_all.css">
        <link rel="stylesheet" href="assets/css/price-range.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.css">  
        <link rel="stylesheet" href="assets/css/owl.theme.css">
        <link rel="stylesheet" href="assets/css/owl.transitions.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <link rel="stylesheet" href="assets/css/lightslider.min.css">

{% endblock %}

{% block page %}
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        <div class="header-connect">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-8  col-xs-12">
                        <div class="header-half header-call">
                            <p>
                                <span><i class="pe-7s-call"></i>{{contact.phone}}</span>
                                <span><i class="pe-7s-mail"></i> {{contact.email}} </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                        <div class="header-half header-social">
                            <ul class="list-inline">
                                <li><a href="https://www.facebook.com/AIKagencia/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/AIKAgencia"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/aik_agencia/"><i class="fa fa-instagram"></i></a></li>
                                 <li>
                                {% for locale in locales %}
                                    {% if locale != app.request.locale %}
                                        <a href="{{ path('change_locale', {'locale': locale}) }}"> | <i class="fa fa-language" aria-hidden="true"></i> - {{ locale }}</a>
                                    {% endif %}
                                {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <!--End top header -->

        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="img/logoweb1.png" alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">

                        <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.open('{{path('logout')}}')"  data-wow-delay="0.45s">Logout</button>
                        <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.48s" onclick=" window.open('{{path('user_account')}}')">Account</button>
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href="/admin">Properties</a></li>
                        {% if is_granted('ROLE_ADMIN') %}    
                        <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href="{{path('users_manager')}}">Users</a></li>
                        {% endif %}
                        <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href="{{path('applications')}}">Applications</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href="{{path('communications')}}">Comm.</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="{{ path('stat')}}" >Stats.</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->
        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        {% block page_head %}<h1 class="page-title"><center>CUENTA ADMINISTRACIÓN | <strong>{% block page_name %}CUENTA ADMINISTRACIÓN{% endblock %}</strong></center></h1>{% endblock %}               
                    </div>
                </div>
            </div>
        </div>
        <br>
{% block body %}
<div class="container mt-4">                      
<div class="jumbotron">
    <tr>
    <button type="button btn largesearch-btn" data-toggle="collapse" data-target="#search" style="background-color: #FDC600; font-weight: bold;">  Smart Search </button>
    <div class="col-xs-10 page-subheader sorting pl0">
        <ul class="sort-by-list">
            <li class="" href="javascript:void(0);">

                <div class="d-flex justify-content-end mb-2 mt-4">
                {{ knp_pagination_sortable(properties, 'Fecha de la propiedad', 'p.created_at') }}
                </div>
            </li>
            <li class="" href="javascript:void(0);">

                <div class="d-flex justify-content-end mb-2 mt-4">
                    {{ knp_pagination_sortable(properties, 'Precio de la propiedad', 'p.price') }}
                </div>
            </li>
        </ul><!--/ .sort-by-list-->
        
    </div>
    </tr>
    <br>
    <br>
        <div class="container mt-4" id="search">
            {{ form_start(form) }}

            <div class="form-row">
                <div class="col-md-5">
                    {{ form_row(form.titleS) }}
                </div>
                <div class="col-md-5">
                <div class="form-group">
                    <label for="search_address">Address</label>
                    <input type="text" value="" placeholder="Approximative Address" id="search_address" class="form-control"/>
                </div>
                </div>
                <div class="col-md-2">
                    {{ form_row(form.distance) }}
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-3">
                    {{ form_row(form.propertyId) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.situationS) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.typeS) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.stateS) }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    {{ form_row(form.minSpace) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.minRooms) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.minBedrooms) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.maxPrice) }}
                </div>
            </div> 
            
            <div class="form-row">
                <div class="col-xs-12">  
                    <input class="button btn largesearch-btn" value="Search" style="background-color: #FDC600; font-weight: bold;" type="submit">
                </div> 
            </div>
                                        
            {{ form_end(form) }}
        </div>
    </div> 
<center>
    
</center>
    
    <br>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
             {{ message }}
        </div>
    {% endfor %}

    <table class="table table-striped">
         <thead>
         <tr>
             <th><h4>Id</h4></th>
             <th><h4>TITULO</h4></th>
             <th><h4>STATUS</h4></th>
             <th><h4>ACCIONES</h4></th>
         </tr>
         </thead>
         <tbody>
         {% for property in properties %}
         <tr>
             <td><strong>{{ property.id }}</strong></td>
             <td><strong>{{ property.title }}</strong></td>
             
             {% if property.situation  == 1 %}
             <td style="color: #1e7fd8; font-weight: bold;">EN VENTA</td>
             {% elseif property.situation == 2 %}
             <td style="color: #09a313; font-weight: bold;">EN RENTA</td>
             {% else %}
             <td style="color: #c77207; font-weight: bold;">VENDIDA</td>
             {% endif %}
             <td>
                 <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}" class="btn btn-secondary">MOSTRAR</a>
                 <a href="{{ path('admin.property.edit' , {id: property.id}) }}" class="btn btn-secondary">EDITAR</a>
                 <form action="{{ path ('admin.property.delete' , {id: property.id}) }}" method="post" style="display:inline-block">
                 <input type="hidden" name="_method" value="DELETE">
                 <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                 <button class="btn btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar esta propiedad? \nTitulo de propiedad : {{property.title}}')">ELIMINAR</button>
                 </form>
             </td>
         </tr>
         {% endfor %}
         </tbody>
    </table>

    <div class="text-right">
        <a href="{{ path('admin.property.new') }}" class='btn btn-finish btn-primary pull-right'>Crear una nueva propiedad</a>
    </div>
    
    <div class="col-md-12"> 
                        <div class="pull-left">
                            <div class="pagination">
                            {{ knp_pagination_render(properties) }}
                            </div>
                        </div>                
    </div>

</div>

{% endblock %}
  <!-- Footer area-->
        <div class="footer-area">

            <div class=" footer">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>About us </h4>
                                <div class="footer-title-line"></div>

                                <img src="/img/logoweb1.png" alt="/" class="wow pulse" data-wow-delay="1s">
                                <p>{{contact.generalDescri|raw}}</p>
                                <ul class="footer-adress">
                                    <li><i class="pe-7s-map-marker strong"> </i>{{contact.address}}</li>
                                    <li><i class="pe-7s-mail strong"> </i>{{contact.email}}</li>
                                    <li><i class="pe-7s-call strong"> </i>{{contact.phone}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Quick links </h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-menu">
                                    <li><a href="properties.html">Properties</a>  </li> 
                                    <li><a href="#">Buy</a>  </li> 
                                    <li><a href="submit-property.html">Rent </a></li> 
                                    <li><a href="contact.html">Sell</a></li> 
                                    <li><a href="faq.html">Other Services</a>  </li> 
                                    <li><a href="faq.html">Contact us </a>  </li> 
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer news-letter">
                                <h4>Stay in touch</h4>
                                <div class="footer-title-line"></div>
                                <p>We thank you for checking our Website, put your email here so we can update you with our new offers.</p>

                                <form>
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="E-mail ... ">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </form> 

                                <div class="social pull-right"> 
                                    <ul>
                                        <li><a class="wow fadeInUp animated" href="https://twitter.com/kimarotec"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                                    </ul> 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <span> (C) <a href="http://www.KimaroTec.com">KimaroTheme</a> , All rights reserved 2016  </span> 
                        </div> 
                        <div class="bottom-menu pull-right"> 
                            <ul> 
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Property</a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Faq</a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contact</a></li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="assets/js/modernizr-2.6.2.min.js"></script>

        <script src="assets/js/jquery-1.10.2.min.js"></script> 
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/bootstrap-select.min.js"></script>
        <script src="assets/js/bootstrap-hover-dropdown.js"></script>

        <script src="assets/js/easypiechart.min.js"></script>
        <script src="assets/js/jquery.easypiechart.min.js"></script>

        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/wow.js"></script>

        <script src="assets/js/icheck.min.js"></script>
        <script src="assets/js/price-range.js"></script>

        <script src="assets/js/main.js"></script>

    {% endblock %}

    {% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
    <script type="text/javascript">
     var placesAutocomplete = places({
     appId: 'plL9YHRBL5R5',
     apiKey: '2d513f73c21e3cdad44b6b1690415837',
     container: document.querySelector('#search_address')
     }); 
     
     placesAutocomplete.on('change', e => {
        document.querySelector('#lat').value = e.suggestion.latlng.lat;
        document.querySelector('#lng').value = e.suggestion.latlng.lng;

    })
    </script>
    {% endblock %}

    </body>
</html>