{% extends '/admin/property/index.html.twig' %}

{% block title %}Manage the properties{% endblock %}

{% block stylesheets %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}


{% block page %}
<div class="container mt-3">

<h2><center>Edit the property</center></h2>
{{ form_start(form) }}
<div class="row">
     <div class="col-md-4">{{ form_row(form.title)}}</div>
     <div class="col-md-4">{{ form_row(form.situation)}}</div>
     <div class="col-md-4">{{ form_row(form.type)}}</div>
</div>
<div class="row">
     <div class="col-md-4">{{ form_row(form.state)}}</div>
     <div class="col-md-4">{{ form_row(form.space)}}</div>
     <div class="col-md-4">{{ form_row(form.price)}}</div>    
</div>
<div class="row">
     <div class="col-md-2">{{ form_row(form.rooms)}}</div>
     <div class="col-md-2">{{ form_row(form.bedrooms)}}</div>
     <div class="col-md-2">{{ form_row(form.bathrooms)}}</div>
     <div class="col-md-2">{{ form_row(form.floors)}}</div>
     <div class="col-md-2">{{ form_row(form.parking)}}</div>
</div>
<div class="row">
     <div class="col-md-5">{{ form_row(form.video)}}</div>     
     <div class="col-md-3">{{ form_row(form.cooling)}}</div>
     <div class="col-md-3">{{ form_row(form.heating)}}</div>  
</div>
<div class="row">
     <div class="col-md-8">{{ form_row(form.address)}}</div>
     <div class="col-md-4">{{ form_row(form.city)}}</div>
</div>
     {{ form_widget(form) }}
     
     <center><button class="btn-primary">Create New Property</button></center>
{{ form_end(form) }}
<br>
<div id="map" style="width: 100%; height: 400px" ></div>
<br>
{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
    <script type="text/javascript">
     var placesAutocomplete = places({
     appId: 'plL9YHRBL5R5',
     apiKey: '2d513f73c21e3cdad44b6b1690415837',
     container: document.querySelector('#property_address')
     }); 
     
     placesAutocomplete.on('change', e => {
        document.querySelector('#property_city').value = e.suggestion.city;
        document.querySelector('#property_lat').value = e.suggestion.latlng.lat;
        document.querySelector('#property_lng').value = e.suggestion.latlng.lng;

    })
    </script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <script type="text/javascript">
    var map = L.map('map').setView([{{ property.lat}}, {{ property.lng}}], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([{{ property.lat}}, {{ property.lng}}]).addTo(map)
    .bindPopup('{{ property.title}}')
    .openPopup();
    </script>
    

    {% endblock %}

</div>



{% endblock %}