{% extends '/admin/property/index.html.twig' %}
{% block title %}Message{% endblock %}

{% block page_head %}<h1 class="page-title"><center>Hello | <span class="orange strong">{% block page_name %}{{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}</span</center></h1>{% endblock %}

{% block body %}

        <!-- property area -->
        <br>
        <div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}   
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 profiel-container">

                        {{ form_start(form)}}

                            <div class="profiel-header">
                                <h3>
                                    <b>MESSAGE TO:</b> {{user.firstName}} {{user.lastName}}<br>
                                    <small>All change will send to your e-mail.</small>
                                </h3>
                                <hr>
                            </div>

                            <div class="clear">

                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="form-group">
                                        <label>Message Title <small>(required)</small></label>
                                        {{form_row(form.title)}}
                                    </div>
                                    <div class="form-group">
                                        <label>Content <small>(required)</small></label>
                                        {{form_row(form.content)}}
                                    </div>
                                    
                                </div>
                                <div class="col-sm-10 col-sm-offset-1">
                                    <button type='submit' class='btn btn-primary pull-right'><i class="fa fa-envelope">  <b>Send message</b></i></button>
                                </div>
                                
                            </div>
 
                    
                            
                            
                    {{ form_end(form)}}

                </div>
            </div><!-- end row -->

        </div>
    </div>

            <!-- property area -->
        <br>
                <div class="content-area recent-property" style="background-color: #FFF;">
                    <div class="container">   
                                
                            {% for message in messages|reverse %}
                            <div class="row"> 
                                {% if app.user == message.author %}
                                <div class="col-md-9 col-md-offset-3 profiel-container">
                                {% else %}
                                <div class="col-md-9 profiel-container">
                                {% endif %}
                                <div class="profiel-header">
                                        <h3>
                                            <b>Title:</b> {{message.title}} <br>
                                            <small>Message to: {{message.destination.firstName}} {{message.destination.lastName}} : {{message.destination.email}}.</small><br>
                                            <small>Message from: {{message.author.firstName}} {{message.author.lastName}} : {{message.author.email}}.</small>
                                        </h3>
                                    <hr>
                                </div>
                                <div class="clear">

                                    <div class="col-sm-10 col-sm-offset-1">
                                        {{message.content | raw }}
                                    </div> 
                                    <div class="col-sm-10 col-sm-offset-1">
                                            {% if app.user == message.author %}
                                            <form action="{{ path ('message.profile.delete' , {id: message.id}) }}" method="post">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
                                            <button class="btn btn-secondary pull-right" onclick="return confirm('Are you sure you want to delete this Message ? \nUser Title : {{message.title}}')">Delete</button>
                                            </form>
                                            {% endif %}                           
                                    </div>
                                </div>
                            </div>
                            </div>
                            <br>
                            <hr>
                            <br>
                            {% endfor %} 
                            <div class="col-md-12"> 
                                <div class="center">
                                    <div class="pagination">
                                        {{ knp_pagination_render(messages) }}
                                     </div>
                                </div>                
                            </div>  
                        </div>    
                    </div>
                </div>


{% endblock %} 